Package: taskcli
Version: 1.0.0
Section: base
Priority: optional
Architecture: amd64
Depends:
Maintainer: Deevanshu Kushwah <deevanshukushwah80@gmail.com>
Description: TaskCLI - simple TCP server based task runner
